{
  "rules": {
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ],
    "no-unused-vars": [
      2, 
      {
        "vars": "all", 
        "args": "none"
      }
    ]
  },
  "env": {
    "es6": true,
    "browser": true,
  },
  "globals": {
    "HammerSlider" : true,
    "TouchEvents" : true
  },
  "extends": "eslint:recommended"
}