body,
ul {
	margin: 0; 
	padding: 0
}

body { 
	font-family: Verdana, Arial;
	color: #fff; 
	background: #ddd;
}



.o-flag {
	display: table;
	width: 100%;
}

	.o-flag__body {
		display: table-cell;
		vertical-align: middle;
	}



.c-slider-wrap {
	position: relative;
}

.c-slider {
	position: relative; 
	overflow: hidden; 
	width: 100%;
}

	.c-slider__container {
		will-change: transform;
		transform: translateZ(0);
		list-style: none;
		white-space: nowrap;
		font-size: 0;
	}

	.c-slider__slide {
		position: relative;
		display: inline-block;
		white-space: normal;
		vertical-align: top;
		width: 100%;
		padding-bottom: 40%;
		background-size: cover;
		font-size: 14px;
	}

	.c-slider__overlay {
		background: rgba(0, 0, 0, 0.3);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 10;
	}

	.c-slider__dots {
		text-align: center;
		list-style: none;
		position: absolute; 
		right: 0;
		bottom: 5px; 
		left: 0;
	}

	.c-slider__dot {
		display: inline-block; 
		cursor: pointer;
		border-radius: 50%;
		height: 14px;
		width: 14px; 
		background: #fff;
		opacity: 0.5; 
		
	}

		.c-slider__dot.is-active {
			opacity: 0.9;
		}

	
	.c-slider__btn {
		background: rgba(0, 0, 0, 0.6);
		opacity: 0.5;
		border-radius: 50%;
		position: absolute;
		cursor:pointer;
		width: 50px; 
		height: 50px;
		top: 50%;
		margin-top: -25px;
		transition: opacity 0.2s;
	}

		.c-slider__btn:hover {
			opacity: 1;
		}

		.c-slider__btn--left {
			left: 10px;
		}

		.c-slider__btn--right {
			right: 10px;
		}



.u-fill-height {
	height: 100%;
}