* {
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.u-clearfix:before,
.u-clearfix:after {
    content: " ";
    display: table;
}

.u-clearfix:after {
    clear: both;
}

body,
ul {
	margin: 0; 
	padding: 0
}

body { 
	font-family: Verdana, Arial;
	color: #fff; 
	background: #ddd;
}



.o-flag {
	display: table;
	width: 100%;
}

	.o-flag__body {
		display: table-cell;
		vertical-align: middle;
	}



.c-slider-wrap {
	position: relative;
	width: 100%;
	/*width: 30%;
	margin-left: 30%;*/
}

.c-slider,
.c-slider__container,
.c-slider__slide,
.c-slider__dots {
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;
}


.c-slider {
	position: relative; 
	overflow: hidden;
	
}


	.c-slider__container {
		-ms-touch-action: pan-y;
    	touch-action: pan-y;
	}

	.c-slider__container.mouse-drag-enabled .c-slider__slide {
		-webkit-user-select: none;
    	-moz-user-select: none;
    	-ms-user-select: none;
	    cursor: move;
	    cursor: -webkit-grab;
	    cursor: -moz-grab;
	    cursor: grab;
	}

	.c-slider__container.is-dragging .c-slider__slide * {
	    cursor: move;
	    cursor: -webkit-grabbing;
	    cursor: -moz-grabbing;
	    cursor: grabbing;
	}

	.c-slider__slide {
		float: left;
	    -webkit-tap-highlight-color: transparent;
    	tap-highlight-color: transparent;
		background-size: cover;
	}

	.c-slider__banner {
		position: relative;
		padding-bottom: 40%;
	}

	.c-slider__overlay {
		position: absolute;
		background: rgba(0, 0, 0, 0.3);
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.c-slider__dots {
		text-align: center;
		list-style: none;
		position: absolute;
		z-index: 2; 
		right: 0;
		bottom: 5px; 
		left: 0;
	}

	.c-slider__dots > li {
		display: inline-block; 
		cursor: pointer;
		border-radius: 50%;
		height: 14px;
		width: 14px; 
		background: #fff;
		opacity: 0.5; 
		
	}

		.c-slider__dots > li:not(:last-child) {
			margin-right: 5px;
		}

		.c-slider__dots > li.is-active {
			opacity: 0.9;
		}

	
	.c-slider__btn {
		border: 0;
		background: rgba(0, 0, 0, 0.6);
		opacity: 0.5;
		border-radius: 50%;
		position: absolute;
		cursor:pointer;
		width: 50px; 
		height: 50px;
		top: 50%;
		margin-top: -25px;
		transition: opacity 0.2s;
	}

		.c-slider__btn:hover {
			opacity: 1;
		}

		.c-slider__btn--left {
			left: 10px;
		}

		.c-slider__btn--right {
			right: 10px;
		}



.u-fill-height {
	height: 100%;
}